#footer{
    .main__content{
        .link{
            font-size: 20px;
        }
        .icon{
            display: flex;
        
            justify-content: center;
        
            list-style: none;

        
            p{
                font-size: 20px;
            }
        
            .icon__list{
                width: 70px;
                height: 70px;
                margin: 10px 20px;
            }
        }
    }
}
