@import url(../all.css);
.navbar {
  --height: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  height: var(--height);
  left: 0;
  padding: 0 28px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  transition: -webkit-transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  will-change: transform;
  z-index: 20;
}

.navbar .navbar__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__logo .logo {
  border-radius: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 38px;
}

.navbar .navbar__logo h4 {
  color: #000;
  font-size: 1rem;
  font-family: "robot";
  font-weight: 700;
  margin-left: 16px;
  color: var(--text-color);
}

.navbar .navbar__search .search__bar {
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 40px;
  padding: 0 16px 0 8px;
  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
  width: 420px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.navbar .navbar__search .search__bar:focus-within {
  border-color: #444;
}

.navbar .navbar__search .search__bar .icon {
  display: inline;
}

.navbar .navbar__search .search__input {
  border: none;
  caret-color: #444;
  height: 100%;
  outline: none;
  padding: 0 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-family: "Montserrat";
  font-size: 20px;
}

.navbar .navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .navbar__btn a {
  margin: 0px 5px;
  min-width: 120px;
  font-family: "Montserrat";
}

.navbar .navbar__btn .login {
  background-color: var(--primary-color);
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 9px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.navbar .navbar__btn .login:hover {
  background-color: var(--text-color);
}

.navbar .navbar__btn .sign_up {
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 9px 20px;
  color: var(--text-color);
}

.navbar .navbar__btn .sign_up:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
/*# sourceMappingURL=headerStyle.css.map */