@import url(../all.css);
.list_course {
  padding: 50px;
}

.list_course .list__item .course__type h2 {
  font-size: 20px;
  font-weight: 900;
  font-family: "robot";
  color: var(--text-color);
  margin: 20px auto;
  text-align: left;
}

.list_course .list__item .course__type .course_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_course .list__item .course__type .course_wrapper .courses button {
  margin: 20px 10px;
  min-height: 200px;
  border: none;
  background-color: var(--white-color);
  border-radius: 10px;
  min-width: 500px;
}

.list_course .list__item .course__type .course_wrapper .courses button:hover {
  opacity: 0.5;
}

.list_course .list__item .course__type .course_wrapper .courses button h3 {
  color: var(--primary-color);
  font-family: "Montserrat";
}

.list_course .list__item .course__type .course_wrapper .courses button .display_course {
  width: 100%;
  height: 100%;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

.list_course .list__item .course__type .course_wrapper .courses button .display_course h3 {
  margin: 20px auto 10px auto;
  color: var(--white-color);
  font-size: 20px;
}

.course {
  padding: 30px;
  background-color: var(--black-color);
}

.course .course__interact {
  width: 100%;
}

.course .course__interact .interact {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course .course__interact .interact_btn {
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course__interact .interact_field {
  background-color: var(--white-color);
  width: 100%;
  min-height: 700px;
  margin: 10px;
  padding: 10px;
}

.course .course__interact .interact_field .field_area {
  width: 90%;
}

.course__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course__list {
  border: 1px solid var(--primary-color);
  border-radius: 0 25px 25px 0;
  color: var(--primary-color);
  font-size: 20px;
  font-family: "Montserrat";
  padding: 10px;
}

.course__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 600px;
  overflow: auto;
}

.course__list ul li {
  margin: 20px;
}

.course__list ul li button {
  width: 438px;
  height: 60px;
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px var(--gray-color);
          box-shadow: inset 0 0 5px var(--gray-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color);
}
/*# sourceMappingURL=style.css.map */