@import url(../all.css);
#login{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    .add__form{    
        width: 1000px;
        height: 80%;
        padding: 20px;
        border-radius: 20px;
        background: var(--white-color);
        box-shadow: 0 0 8px  #ccc; 

        .infor{
            h1{
                font-size: 25px;
            }
            &__close{
                color: var(--text-color);
                font-size: 30px;
                float: left;
                cursor: pointer;

                &:hover {
                    color:  #a3c2c2;
                }
            }
            .infor__input{
                margin: 20px;
            }
        }
    }

    .login__form{    
        width: 500px;
        padding: 20px;
        border-radius: 20px;
        background: var(--white-color);
        box-shadow: 0 0 8px  #ccc; 

        .infor{
            img{
                width: 100px;
                margin: 20px auto;
            }
            &__close{
                color: var(--text-color);
                font-size: 30px;
                float: left;
                cursor: pointer;

                &:hover {
                    color:  #a3c2c2;
                }
            }

            h1{
                margin: 0;
                font-size: 34px;
                text-align: center;
                line-height: 83px;
                text-transform: uppercase;
            }

            &__input{
                color: var(--black-color);
                width: 90%;
                margin: 20px auto;
            }
    
            &__btn{
                margin-top: 10px;
                width: 90%;
                text-align: center;
                
                &:hover {
                    background:  var(--text-color);
                    color: var(--primary-color);
                    }
            }
            p{
                font-size: 20px;
                margin: 20px auto;

                button{
                    font-size: 20px;
                    border: none;
                    background-color: var(--white-color);
                    text-decoration:underline;
                    color: var(--text-color);

                    &:hover{
                        color: var(--primary-color);

                    }
                }
            }
        }
    
    }
    .lesson__grid{
        margin: 20px auto;
        // align-items: center;
        .grid{
            margin: auto;
        }
    }
}
/* Mobile */
@media only screen and (max-width : 739px) {
    .todoadd{
    
        &__form{    
            width: 80%;
            padding: 20px;
            border-radius: 20px;
        }
    }
}
